.switch {
  display: flex; }
  .switch.right .dot {
    left: calc(100% - 22px); }
  .switch.right .container {
    background: #ea3651; }
  .switch.right .right {
    color: blue; }
  .switch:not(.right) .left {
    color: blue; }
  .switch .container {
    width: 46px;
    height: 22px;
    background: lightblue;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 4px;
    position: relative; }
  .switch .dot {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    margin: 2px;
    position: absolute;
    left: 0;
    transition: all 0.3s; }

.root {
  width: 240px;
  border: 1px solid gray;
  overflow: hidden; }
  .root:not(.option) header div:first-child {
    color: #ffd04b;
    border-bottom: 2px solid #ffd04b; }
  .root:not(.option) section {
    transform: translateX(0); }
  .root.option header div:last-child {
    color: #ffd04b;
    border-bottom: 2px solid #ffd04b; }
  .root.option section {
    transform: translateX(-100%); }
  .root header {
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #545c64;
    color: white;
    font-size: 14px; }
    .root header div {
      padding: 6px 12px;
      cursor: pointer; }
      .root header div:hover {
        background: #434a50; }
  .root section {
    display: flex;
    padding: 10px;
    transition: transform 0.8s; }
    .root section > div {
      flex: none;
      width: 220px;
      margin-right: 20px; }
    .root section div {
      margin-bottom: 10px; }
    .root section .input input, .root section .input select {
      width: 80px; }
  .root footer {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid gray; }
    .root footer .print {
      width: 56px;
      height: 25px;
      background: #6b6bde;
      border-radius: 4px;
      text-align: center;
      margin: 10px;
      color: white;
      cursor: pointer;
      border: none;
      outline: none; }
      .root footer .print:active {
        background: #7e7ee2; }
      .root footer .print::hover {
        background: #5757e2; }
