.switch {
  display: flex; }
  .switch.right .dot {
    left: calc(100% - 22px); }
  .switch.right .container {
    background: #ea3651; }
  .switch.right .right {
    color: #409eff; }
  .switch:not(.right) .left {
    color: #409eff; }
  .switch .container {
    width: 46px;
    height: 22px;
    background: lightblue;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 4px;
    position: relative; }
  .switch .dot {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    margin: 2px;
    position: absolute;
    left: 0;
    transition: all 0.3s; }

.root {
  width: 240px;
  margin: auto;
  border: 1px solid #ebebeb;
  color: #606266; }
  .root header {
    padding: 0 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ebebeb; }
    .root header div.loading::after {
      content: 'Loading...';
      margin-left: 20px;
      color: red;
      font-style: italic; }
  .root section {
    display: flex;
    padding: 10px;
    transition: transform 0.8s; }
    .root section > div {
      flex: none;
      width: 220px;
      margin-right: 20px; }
    .root section div {
      margin-bottom: 10px; }
    .root section .input input, .root section .input select {
      width: 80px; }
  .root footer {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #ebebeb; }
    .root footer button {
      width: 56px;
      height: 25px;
      background: #409eff;
      border-radius: 4px;
      text-align: center;
      margin: 10px;
      color: white;
      cursor: pointer;
      border: none;
      outline: none; }
      .root footer button:active {
        background: #7e7ee2; }
      .root footer button::hover {
        background: #5757e2; }

