
$blue: #409eff;
$gray: #606266;
$lightgray: #ebebeb;
$container-width: 240px;
$border: 1px solid $lightgray;
$header-height: 30px;
$footer-height: 40px;

@mixin active-header {
    color: rgb(255, 208, 75);
    border-bottom: 2px solid rgb(255, 208, 75);
}


.switch{
    display: flex;
    &.right{
        .dot{
            left: calc(100% - 22px);
        }
        .container{
            background: #ea3651;
        }
        .right{
            color: $blue;
        }
    }
    &:not(.right){
        .left{
            color: $blue;
        }
    }
    .container{
        width: 46px; height: 22px;
        background: lightblue;
        border-radius: 10px;
        cursor: pointer;
    
        margin: 0 4px;
        position: relative;
    }
    .dot{
        width: 18px; height: 18px;
        background: white;
        border-radius: 10px;
        margin: 2px;
    
        position: absolute;
        left: 0;
        transition: all 0.3s;
    }
}


.root{
    width: $container-width;
    margin: auto;
    border: $border;
    color: $gray;
    header{
        padding: 0 10px;
        font-size: 14px;
        height: $header-height;
        line-height: $header-height;
        border: $border;
        div.loading::after{    
            content: 'Loading...';
            margin-left: 20px;
            color: red;
            font-style: italic;
        }
    }
    section {
        display: flex;
        padding: 10px;
        transition: transform 0.8s;
        >div{
            flex: none;
            width: $container-width - 20px;
            margin-right: 20px;
        }
        div{ 
            margin-bottom: 10px;
        }
        .input{
            input, select{
                width: 80px;
            }
        }
    }
    footer{
        height: $footer-height;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: $border;
        button{
            width: 56px;
            height: 25px;
            background: $blue;
            border-radius: 4px;
            text-align: center;
            margin: 10px;
            color: white;
            cursor: pointer;
            border: none;
            outline: none;
            &:active{
                background: #7e7ee2;
            }
            &::hover{
                background: #5757e2;
            }
        }
    }
}